Flask==3.0.0
Flask-CORS==4.0.0
Werkzeug==3.0.0
python-dotenv==1.0.0
razorpay==2.0.0
Flask-Mail==0.9.1
authlib
requests
pyOpenSSL
flask-pymysql
gunicorn==21.2.0
authlib
flask_mail
APScheduler
Flask-Limiter
python-magic